
<div class="container">
  <div class="row search-field start" (click)="focusIn()">
      <div class="col-lg-8 col-lg-offset-2">
        <input type="text" class="search-input" placeholder="Mediatheken durchsuchen..." #search (change)="getMedia(search.value)"/> 
<!--           <div class="input-group">
              <input type="text" class="search-input" placeholder="Mediatheken durchsuchen..." #search (change)="getMedia(search.value)"/> 
               <span class="input-group-btn">
                  <button class="search-btn btn btn-default btn-lg" type="button">
                    Suchen
                  </button>
              </span>
          </div> -->
      </div>
  </div>
  <div *ngIf="(fetchingInProcess)" class="row">
     <div class="loader" ></div>
     <div class="centered-text" >
        Suche nach '{{search.value}}' ...
     </div>
  </div>
  <div *ngIf="(media?.length == 0) && !fetchingInProcess" class="row">
    <div class="centered-text">
      Leider nichts gefunden :(
    </div>
  </div>
  <div *ngIf="(!fetchingInProcess)" class="row" >
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="list">
          <li *ngFor="#item of media" class="list-item {{item.station}}" >
            <a href="#" (click)="changeMedia(item.media_url)" >
              <div class="row">
                <div class="col-md-2">
                  <div class="logo-container" >
                    <img src="app/images/{{item.station}}.png" class="logo" >
                  </div>
                </div>
                <div class="col-md-8" style="padding-left: 0px;">
                  <div class="row">
                    <div class="col-lg-12 title">
                        {{item.title | truncate : 35}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 description">
                      {{item.description | truncate : 200}}
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row date">
                    <div class="col-lg-12">
                        {{dateToString(item.date)}}
                    </div>
                  </div>
                  <div class="row duration">
                    <div class="col-lg-12">
                        {{durationToString(item.duration)}}
                    </div>
                  </div>
                  <div class="row download">
                    <div class="col-lg-12">
                      <a href="{{item.media_url}}" (click)="catchClick($event)" download>Download 
                        <span class="glyphicon glyphicon-download-alt"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul> 
      </div>
  </div>
</div>




