
<div class="container">
  <div class="row search-field start" (click)="focusIn()">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-2">
        <input type="text" class="search-input" placeholder="Mediatheken durchsuchen..." #search (change)="getMedia(search.value)"/> 
<!--           <div class="input-group">
              <input type="text" class="search-input" placeholder="Mediatheken durchsuchen..." #search (change)="getMedia(search.value)"/> 
               <span class="input-group-btn">
                  <button class="search-btn btn btn-default btn-lg" type="button">
                    Suchen
                  </button>
              </span>
          </div> -->
      </div>
  </div>
  <div *ngIf="(fetchingInProcess)" class="row">
     <div class="loader" ></div>
     <div class="centered-text" >
        Suche nach '{{search.value}}' ...
     </div>
  </div>
  <div *ngIf="(media?.length == 0) && !fetchingInProcess" class="row">
    <div class="centered-text">
      Leider nichts gefunden :(
    </div>
  </div>
  <div *ngIf="(!fetchingInProcess)" class="row" >
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-2">
        <ul class="list">
          <li *ngFor="#item of media" class="list-item {{item.station}}" >
            <a href="#" (click)="changeMedia(item.media_url)" >
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="row">
                    <div class="col-xs-2 .col-sm-2 .col-md-2 col-lg-2">
                      <div class="logo-container" >
                        <img src="app/images/{{item.station.toLowerCase()}}.png" class="logo" >
                      </div>
                    </div>
                    <div class="col-xs-10 .col-sm-10 .col-md-8 col-lg-8" style="padding-left: 0px; height: 100%">
                      <div class="row">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12 title">
                            {{item.title | truncate : 20}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12 mobile-description">
                          {{item.description | truncate : 65}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12 datetime">
                            {{durationToString(item.duration)}} | {{dateToString(item.date)}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12 description">
                          {{item.description | truncate : 200}}
                        </div>
                      </div>
                    </div>
                    <div class="hidden-xs col-xs-0 hidden-sm .col-sm-0 .col-md-2 col-lg-2">
                      <div class="row date">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12">
                            {{dateToString(item.date)}}
                        </div>
                      </div>
                      <div class="row duration">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12">
                            {{durationToString(item.duration)}}
                        </div>
                      </div>
                      <div class="row download">
                        <div class="col-xs-12 .col-sm-12 .col-md-12 col-lg-12">
                          <a href="{{item.media_url}}" (click)="catchClick($event)" download>Download 
                            <span class="glyphicon glyphicon-download-alt"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul> 
      </div>
  </div>
</div>




